.dotsMenu__button {
    margin-left: auto !important;
    color: rgba(var(--primary-light), 0.5) !important;
    border: 1px solid rgba(var(--primary-light), 0.3) !important;
    height: 30px !important;
    padding: 5px !important;
    border-radius: 5px !important;
}

.dotsMenu__menuTray {
    box-sizing: border-box;
    position: absolute;
    top: 90%;
    left: 90%;
    list-style: none;
    background-color: rgba(var(--secondary-light), 1);
    border-radius: 10px;
    opacity: 0;
    padding: 10px 0;
    overflow: hidden;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
}

.dotsMenu__menuTray.open {
    opacity: 1;
    box-shadow: 1px 1px 10px var(--shadow-primary);
}

.dotsMenu__menuTray li {
    color: rgba(var(--primary-dark), 0.9);
    font-size: 0.9rem;
    cursor: pointer;
    padding: 6px 25px;
    text-align: center;
    letter-spacing: 1px;
}

.dotsMenu__menuTray li:hover {
    background-color: rgba(var(--primary-light), 0.03);
}

.dotsMenu__menuTrayLine {
    width: 80% !important;
    margin: 0 auto !important;
    padding: 0 !important;
    border-top: 1px solid rgba(var(--primary-light), 0.15) !important;
}
