.productCardBid {
    background-color: rgba(var(--secondary-light), 1);
    border-radius: 15px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: var(--box-shadow);

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        position: relative;

        .contactTo {
            margin-left: auto;
        }
    }

    &__footer {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        color: rgba(var(--primary-dark), 0.8);

        .buttonsAndAvatarsWrapper {
            display: flex;
            align-items: center;
        }
    }

    &__myBid {
        flex: 1;
    }

    &__myBidTextWrapper {
        color: rgba(var(--primary-light), 0.8);
        display: flex;
        align-items: center;

        h3 {
            margin-left: 5px;
            font-weight: 500;
            font-size: 0.9rem;
        }
    }

    &__myBidPrice {
        width: fit-content;
        margin-top: 3px;

        h3 {
            font-weight: 500;
            font-size: 1.1rem;
        }
    }
}
