.productCardBid {
    background-color: rgba(var(--secondary-light), 1);
    border-radius: 15px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
    overflow: hidden;
}

.productCardBid__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.productCardBid__header .contactTo {
    margin-left: auto;
}

.productCardBid__footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color: rgba(var(--primary-dark), 0.8);
}

.productCardBid__footer .buttonsAndAvatarsWrapper {
    display: flex;
    align-items: center;
}

.productCardBid__myBid {
    flex: 1;
}

.productCardBid__myBidTextWrapper {
    color: rgba(var(--primary-light), 0.8);
    display: flex;
    align-items: center;
}

.productCardBid__myBidTextWrapper h3 {
    margin-left: 5px;
    font-weight: 500;
    font-size: 0.9rem;
}

.productCardBid__myBidPrice {
    width: fit-content;
    margin-top: 3px;
}

.productCardBid__myBidPrice h3 {
    font-weight: 500;
    font-size: 1.1rem;
}
