.productCardBid {
    background-color: rgba(var(--secondary-light), 1);
    border-radius: 15px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
}

.productCardBid__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.productCardBid__avatar {
    background-color: rgba(var(--primary-light), 0.5);
    border-radius: 10px !important;
    align-self: center;
    height: 40px !important;
    width: 40px !important;
    margin-right: 10px;
    border: 1px solid transparent;
    cursor: pointer;
}

.productCardBid__avatar:hover {
    border-color: rgba(var(--primary-dark), 0.8);
}

.productCardBid__nameTime p {
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: -5px;
    color: rgba(var(--primary-dark), 0.8);
}

.productCardBid__nameTime p.username {
    cursor: pointer;
    border-bottom: 1px solid transparent;
}

.productCardBid__nameTime p.username:hover {
    border-bottom-color: rgba(var(--primary-dark), 0.8);
}

.productCardBid__nameTime span {
    font-size: 0.8rem;
    color: rgba(var(--primary-dark), 0.5);
}

.productCardBid__header .contact {
    margin-left: auto;
}

.productCardBid__image {
    height: 300px;
    margin: 20px 0;
}

.productCardBid__image img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
    object-fit: cover;
}

.productCardBid__productDetails .name {
    font-weight: 600;
    font-size: 1.25rem;
    color: rgba(var(--primary-dark), 0.8);
}

.productCardBid__productDetails .description {
    color: rgba(var(--primary-light), 0.8);
    font-weight: 400;
    font-size: 0.9rem;
}

.productCardBid__productDetails .readMoreButton {
    background-color: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    font-weight: 500;
    color: rgba(var(--primary-dark), 0.8);
}

.productCardBid__productDetails .readMoreButton:hover {
    text-decoration: underline;
}

.productCardBid__price {
    display: flex;
    align-items: center;
    border: 1px solid rgba(var(--primary-light), 0.3);
    padding: 15px;
    border-radius: 15px;
    margin: 20px 0;
    justify-content: space-between;
}

.productCardBid__price h3 {
    margin-left: 5px;
    font-weight: 500;
    font-size: 0.9rem;
}

.productCardBid__price .priceWrapper {
    color: rgba(var(--primary-light), 0.8);
    display: flex;
    align-items: center;
}

.productCardBid__price .price {
    font-weight: 500;
    font-size: 1.1rem;
    color: rgba(var(--primary-dark), 0.8);
}

.productCardBid__bids {
    display: flex;
    align-items: center;
    color: rgba(var(--primary-dark), 0.8);
}

.productCardBid__myBid {
    flex: 1;
    display: flex;
    align-items: center;
}

.productCardBid__myBid > h3 {
    margin: 0 8px;
    font-weight: 500;
    font-size: 1rem;
}

.productCardBid__myBid > span {
    background-color: rgba(var(--primary-light), 1);
    color: rgba(var(--secondary-light), 1);
    font-weight: 500;
    font-size: 1.1rem;
    padding: 2px 10px;
    border-radius: 10px;
}

.productCardBid__bidMore {
    width: fit-content;
    cursor: pointer;
    margin-left: 20px;
}

.productCardBid__bidMore .avatar {
    height: 30px;
    width: 30px;
    background-color: rgba(var(--primary-light), 1);
    margin-left: -10px !important;
    border-color: rgba(var(--primary-dark), 0.2);
    z-index: 1 !important;
}

.productCardBid__bidMore .MuiAvatar-colorDefault {
    background-color: rgba(var(--primary-light), 1);
    color: rgba(var(--secondary-light), 1);
    height: 33px;
    width: 33px;
    font-size: 1rem;
    margin-left: -10px !important;
    border-color: rgba(var(--primary-dark), 0.2);
    box-sizing: border-box;
}

.productCardBid__bidMore:hover .MuiAvatar-colorDefault {
    background-color: rgba(var(--secondary-light), 1);
    color: rgba(var(--primary-light), 1);
    font-weight: 500;
    border-color: rgba(var(--primary-light), 1);
}
