.productCardBid {
    background-color: rgba(var(--secondary-light), 1);
    border-radius: 15px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
}

.productCardBid__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.productCardBid__header .contact {
    margin-left: auto;
}

.productCardBid__bids {
    display: flex;
    align-items: center;
    color: rgba(var(--primary-dark), 0.8);
}

.productCardBid__myBid {
    flex: 1;
    display: flex;
    align-items: center;
}

.productCardBid__myBid > h3 {
    margin: 0 8px;
    font-weight: 500;
    font-size: 1rem;
}

.productCardBid__myBid > span {
    background-color: rgba(var(--primary-light), 1);
    color: rgba(var(--secondary-light), 1);
    font-weight: 500;
    font-size: 1.1rem;
    padding: 2px 10px;
    border-radius: 10px;
}
