.loader {
    width: var(--loader-size);
    height: var(--loader-size);
    border-radius: calc(var(--loader-size) / 10);
    border: calc(var(--loader-size) / 5) solid rgba(var(--primary-light), 1);
    animation: loader-rotate 1s infinite;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: calc(var(--loader-size) / 2);
        height: calc(var(--loader-size) / 2);
        background: rgba(var(--primary-light), 1);
        border-radius: 50%;
        left: 0;
        bottom: 0;
        animation: loader-ball 1s infinite ease-in-out;
    }

    /* Size Classes **************************************/
    &.small {
        --loader-size: 25px !important;
    }

    &.medium {
        --loader-size: 35px !important;
    }

    &.large {
        --loader-size: 45px !important;
    }

    // loader animation
    @keyframes loader-rotate {
        100% {
            transform: rotate(90deg);
        }
    }
    @keyframes loader-ball {
        50% {
            transform: translateX(calc(var(--loader-size) / 2));
        }
        100% {
            transform: translateX(calc(var(--loader-size) / 2));
        }
    }
}
