.contactUs {
    width: 85vw;
    margin: 0 auto;

    &__bodyWrapper {
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 1000px) {
    .contactUs {
        &__bodyWrapper {
            flex-direction: column;
        }
    }
}
