.contactShape {
    flex: 1;
    background-color: rgba(var(--secondary-light), 1);
    border-radius: 15px;
    padding: 20px 15px 15px;
    box-shadow: var(--box-shadow);
    display: grid;
    place-items: center;
    position: relative;
    overflow: hidden;

    &:nth-child(2) {
        margin: 30px 0;
    }

    &__imageWrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__imageCover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(var(--primary-light), 0.6);
    }

    &__centerWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 2;
    }

    &__icon {
        color: rgba(var(--secondary-light), 1);
        background-color: rgba(var(--primary-light), 0.8);
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: grid;
        place-items: center;
        box-shadow: 0 0 0 3px rgba(var(--secondary-light), 1),
            0 0 0 6px rgba(var(--primary-light), 1);
        margin-bottom: 10px;
    }

    &__label {
        font-size: 0.85rem;
        font-weight: 600;
        color: rgba(var(--primary-light), 0.8);
        font-family: 'Poppins', sans-serif !important;
    }

    &__label.image {
        color: rgba(var(--secondary-light), 1);
    }

    &__content {
        font-weight: 600;
        color: rgba(var(--primary-dark), 0.7);
        font-family: 'Poppins', sans-serif !important;
        font-size: 1.2rem;
        text-align: center;
    }
}

@media (max-width: 1000px) {
    .contactShape {
        min-height: 150px;
    }
}
