.following {
    background-color: rgba(var(--primary-light), 0.08);
    min-height: 90vh;
    box-sizing: border-box;
    padding-top: 30px;
}

.following__followingWrapper {
    display: flex;
}

.following__followingWrapper > p {
    color: rgba(var(--primary-light), 1);
    font-weight: 600;
    padding-left: 10px;
    font-size: 1.2rem;
}

.following__left,
.following__right {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.following__left {
    margin-right: 30px;
}
