* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
}

:root {
    --primary-dark: indigo;
    --secondary-light: #f7fbfc;
    --shadow-primary: rgba(76, 0, 130, 0.4);
    --shadow-secondary: #f7fbfc7e;
    --logo-size: 40px;
}

body {
    background-color: var(--secondary-light);
}

button:focus,
input:focus {
    outline: none;
}
