* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

html {
    overflow-x: hidden;
}

/* styling scrollbar */
::-webkit-scrollbar-track {
    border: 4px solid rgba(var(--secondary-light), 1);
    background-color: rgba(var(--primary-light), 1);
}

::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(var(--primary-light), 0.8);
    border-radius: 10px;
}

.theme__PURPLE {
    --primary-dark: 75, 0, 130;
    --primary-light: 143, 110, 213;
    --secondary-light: 247, 251, 252;
    --secondary-dark: 57, 62, 70;
    --gradient-extra: 215, 130, 217;
    --shadow-primary: rgba(var(--primary-dark), 0.4);
    --shadow-secondary: rgba(var(--secondary-light), 0.5);
    --box-shadow: 0 0 7px 1px rgba(var(--primary-light), 0.2);
}

.theme__RED {
    --primary-dark: 255, 113, 113;
    --primary-light: 255, 180, 180;
    --secondary-light: 34, 40, 49;
    --secondary-dark: 57, 62, 70;
    --gradient-extra: 255, 130, 100;
    --shadow-primary: rgba(var(--primary-dark), 0.4);
    --shadow-secondary: rgba(var(--secondary-light), 0.5);
    --box-shadow: 0 0 5px 1px rgba(var(--primary-light), 0.1);
}

.theme__BLUE {
    --primary-dark: 14, 148, 200;
    --primary-light: 56, 191, 245;
    --secondary-light: 0, 0, 0;
    --secondary-dark: 57, 62, 70;
    --gradient-extra: 116, 249, 255;
    --shadow-primary: rgba(var(--primary-dark), 0.4);
    --shadow-secondary: rgba(var(--secondary-light), 0.5);
    --box-shadow: 0 0 5px 1px rgba(var(--primary-light), 0.1);
}

.app {
    background-color: rgba(var(--secondary-light), 1);
    color: rgba(var(--primary-dark), 1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

button:focus,
input:focus,
textarea:focus {
    outline: none;
}

@media (max-width: 600px) {
    ::-webkit-scrollbar {
        display: none;
    }
}
