.contact {
    background-color: rgba(var(--primary-light), 0.08);
    min-height: 90vh;
    box-sizing: border-box;
    padding-top: 30px;
}

.contact__bodyWrapper {
    display: flex;
    justify-content: space-between;
}

.contact__contactCardWrapper {
    flex: 1;
}

.contact__productAndBidsWrapper {
    flex: 1.6;
    margin-left: 30px;
}

.contact__productCardWrapper {
    margin-bottom: 30px;
}

.contact__bidsWrapper {
    display: flex;
}
