.productCardFollow {
    background-color: rgba(var(--secondary-light), 1);
    border-radius: 15px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
}

.productCardFollow__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.productCardFollow__header .follow {
    margin-left: auto;
}

.productCardFollow__bids {
    display: flex;
    align-items: center;
    color: rgba(var(--primary-dark), 0.8);
}
