.products {
    background-color: rgba(var(--primary-light), 0.08);
    display: flex;
    padding-top: 30px;
    min-height: 90vh;
    box-sizing: border-box;
}

.products__left,
.products__right {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.products__left {
    margin-right: 30px;
}
