.productUploadForm {
    display: flex;
    align-items: center;
    border-radius: 15px;
    background-color: rgba(var(--secondary-light), 1);
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: var(--box-shadow);

    &__avatar {
        background-color: rgba(var(--primary-light), 0.5);
        border-radius: 10px !important;
        height: 55px !important;
        width: 55px !important;
        margin-right: 10px;
        cursor: pointer;
        border: 1px solid transparent;
        transition: all 0.3s ease-in-out;
    }

    &__avatar:hover {
        border-color: rgba(var(--primary-light), 1);
    }

    &__inputWrapper {
        flex: 1;
        display: flex;
        align-items: center;
        background-color: rgba(var(--primary-light), 0.08);
        height: 55px;
        padding-left: 12px;
        border-radius: 10px;
        color: rgba(var(--primary-light), 0.8);
        margin-right: 10px;
        box-sizing: border-box;

        input {
            background-color: transparent;
            border: 0;
            margin: 0 10px;
            flex: 1;
            color: rgba(var(--primary-dark), 0.8);
            letter-spacing: 2px;
            width: 100%;
            transition: all 0.5s ease;
            font-size: 1rem;
            font-weight: 600;
            cursor: text;
        }

        input::placeholder {
            color: rgba(var(--primary-light), 0.8);
            font-weight: 600;
            letter-spacing: 1px;
            font-size: 0.9rem;
        }
    }

    /* Modal Form Styles ******************************************************************************************************/
    &__modal {
        background-color: rgba(var(--secondary-light), 1);
        border-radius: 15px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    &__modalHeader {
        display: flex;
        align-items: center;

        .close {
            margin-left: auto;
        }

        input {
            border: 0;
            flex: 1;
            padding: 10px;
            margin: 0 10px;
            color: rgba(var(--primary-dark), 0.8);
            letter-spacing: 1px;
            font-size: 0.9rem;
            font-weight: 600;
            border-radius: 10px;
            background-color: rgba(var(--primary-light), 0.08);
            height: 40px;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif !important;
        }

        input::placeholder {
            color: rgba(var(--primary-light), 0.8);
            font-weight: 600;
            letter-spacing: 1px;
            font-size: 0.9rem;
        }
    }

    &__modalAvatar {
        background-color: rgba(var(--primary-light), 0.5);
        border-radius: 10px !important;
        align-self: center;
        height: 40px !important;
        width: 40px !important;
    }

    &__modalImage {
        height: 300px;
        width: 100%;
        margin: 15px 0;
        border-radius: 15px;
        overflow: hidden;
        position: relative;

        img {
            height: 100%;
            width: 100%;
            cursor: pointer;
            object-fit: cover;
        }

        .removeImageButton {
            position: absolute;
            top: 0;
            right: 0;
            color: rgba(var(--primary-dark), 1);
        }

        .imageInputWrapper {
            height: 98%;
            display: grid;
            place-items: center;
            border: 2px solid rgba(var(--primary-light), 0.5);
            border-radius: 15px;

            p {
                font-family: 'Poppins', sans-serif !important;
                color: rgba(var(--primary-dark), 0.5);
                letter-spacing: 0.5px;
                font-size: 0.9rem;
                font-weight: 600;
            }
        }

        label {
            height: 30px;
            border: 2px solid rgba(var(--primary-light), 0.8);
            border-radius: 10px;
            background-color: rgba(var(--secondary-light), 1);
            color: rgba(var(--primary-light), 1);
            font-weight: 600;
            padding: 8px 10px;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: all 0.3s ease;

            span {
                margin-left: 10px;
            }
        }

        label:hover {
            color: rgba(var(--secondary-light), 1);
            background-color: rgba(var(--primary-light), 1);
        }
    }

    &__modalDescription {
        margin-bottom: 15px;
        border-radius: 10px;
        overflow: hidden;
        width: 100%;
        position: relative;

        textarea {
            border: 0;
            flex: 1;
            padding: 10px;
            border-radius: 10px;
            color: rgba(var(--primary-dark), 0.8);
            letter-spacing: 0.5px;
            font-size: 0.9rem;
            font-weight: 600;
            background-color: rgba(var(--primary-light), 0.08);
            box-sizing: border-box;
            min-height: 100px;
            resize: none;
            width: 100%;
            font-family: 'Poppins', sans-serif !important;
        }

        textarea::placeholder {
            color: rgba(var(--primary-light), 0.8);
            font-weight: 600;
            letter-spacing: 1px;
            font-size: 0.9rem;
        }

        .descriptionCount {
            position: absolute;
            bottom: 10px;
            right: 12px;
            font-family: 'Poppins', sans-serif !important;
            font-size: 0.75rem;
            color: rgba(var(--primary-light), 0.5);
            font-weight: 600;
        }
    }

    &__modalFooter {
        display: flex;
        align-items: center;
        background-color: rgba(var(--primary-light), 0.08);
        height: 100%;
        padding-left: 12px;
        border-radius: 10px;
        color: rgba(var(--primary-light), 0.8);
        box-sizing: border-box;

        input {
            background-color: transparent;
            border: 0;
            flex: 1;
            margin: 0 10px;
            color: rgba(var(--primary-dark), 0.8);
            letter-spacing: 2px;
            width: 100%;
            transition: all 0.5s ease;
            font-size: 1rem;
            font-weight: 600;
            font-family: 'Poppins', sans-serif !important;
        }

        input::placeholder {
            color: rgba(var(--primary-light), 0.8);
            font-weight: 600;
            letter-spacing: 1px;
            font-size: 0.9rem;
        }
    }
}

@media (max-width: 1000px) {
    .productUploadForm {
        padding: 15px;

        &__avatar {
            height: 50px !important;
            width: 50px !important;
        }

        &__inputWrapper {
            margin-right: 0;
            height: 50px;
            padding-left: 8px;

            input {
                margin: 0 0 0 3px;
            }

            input::placeholder {
                letter-spacing: 0.5px;
                font-size: 0.8rem;
            }
        }

        &__modalHeader {
            input {
                width: 100%;
            }
        }
    }
}
