.noItemMessage {
    border-radius: 15px;
    background-color: rgba(var(--secondary-light), 1);
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    box-shadow: var(--box-shadow);

    &__title {
        color: rgba(var(--primary-light), 1);
        font-weight: 600;
        margin-bottom: 5px;
    }

    &__text {
        color: rgba(var(--primary-light), 0.8);
        font-weight: 500;
    }
}
