.bidInputLoader {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-radius: 10px;
    display: grid;
    place-items: center;
    transition: all 0.5s ease;
    overflow: hidden;
    background-color: rgba(var(--primary-light), 0.2);

    &.active {
        height: 100%;
    }
}
