.overviewItem {
    display: flex;
    margin-bottom: 50px;
}

.overviewItem.left {
    flex-direction: row-reverse;
}

.overviewItem:hover .overviewItem__iconWrapper {
    border-radius: 50%;
}

.overviewItem__iconWrapper {
    background-color: rgba(var(--primary-dark), 1);
    color: rgba(var(--secondary-light), 1);
    align-self: flex-start;
    padding: 8px 12px;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}

.overviewItem__bodyWrapper {
    flex: 1;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.overviewItem__bodyWrapper > h3 {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 1.5rem;
}

.overviewItem.left .overviewItem__bodyWrapper {
    margin-left: 0;
    margin-right: 15px;
}

.overviewItem.left .overviewItem__bodyWrapper > h3 {
    text-align: right;
}

.overviewItem.left .overviewItem__bodyWrapper > p {
    text-align: right;
}
