.overviewItem {
    display: flex;
    margin-bottom: 50px;

    &__iconWrapper {
        background-color: rgba(var(--primary-dark), 1);
        color: rgba(var(--secondary-light), 1);
        align-self: flex-start;
        padding: 8px 12px;
        border-radius: 3px;
        transition: all 0.3s ease-in-out;
    }

    &:hover .overviewItem__iconWrapper {
        border-radius: 50%;
    }

    &__bodyWrapper {
        flex: 1;
        margin-left: 15px;
        display: flex;
        flex-direction: column;

        h3 {
            margin-bottom: 10px;
            font-weight: 500;
            font-size: 1.5rem;
        }
    }

    &.left {
        flex-direction: row-reverse;

        .overviewItem__bodyWrapper {
            margin-left: 0;
            margin-right: 15px;

            h3 {
                text-align: right;
            }

            p {
                text-align: right;
            }
        }
    }
}

@media (max-width: 1000px) {
    .overviewItem {
        &.left {
            flex-direction: row;

            .overviewItem__bodyWrapper {
                margin-left: 15px;
                margin-right: 0;

                h3 {
                    text-align: left;
                }

                p {
                    text-align: left;
                }
            }
        }
    }
}
