.login {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    background: linear-gradient(var(--secondary-dull), var(--secondary-dull)),
        url('../../assets/images/loginBg.jpg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

.login__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 370px;
    margin-top: -300px;
}

.login__formLogo {
    /* font: Yeon Sung - 400 */
    width: 100px;
    margin-bottom: 20px;
    border-radius: 50%;
    padding: 10px;
    background-color: #efa6ac;
}

.login__form h2 {
    margin-bottom: 30px;
    font-weight: 400;
    color: var(--primary);
}

.login__formInput {
    margin-bottom: 20px;
    width: 100%;
    border-radius: 30px;
    background-color: var(--secondary-dull);
    border: none;
    padding: 15px 15px;
    box-sizing: border-box;
    color: var(--primary);
    font-size: 1rem;
}

.login__formInput:focus {
    outline: none;
    border: 1px solid var(--primary);
}

.login__formInput::placeholder {
    color: #eee;
    font-weight: 400;
}

.login__formButton {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    background-color: var(--primary);
    border: none;
    border-radius: 30px;
    padding: 15px 0;
    color: var(--secondary-dark);
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1rem;
}

.login__formButton:hover {
    box-shadow: 1px 7px 15px var(--secondary-dull);
}

.login__formButton:focus {
    outline: none;
    border: 1px solid var(--primary);
    background-color: var(--bg-dull);
    color: var(--primary);
}

.login__loader {
    height: 30px;
    width: 100%;
    background-color: var(--primary);
    border-radius: 30px;
    padding: 10px 0;
    text-align: center;
}

.login__loader .path {
    height: 100%;
    width: 60px;
    overflow: hidden;
    position: relative;
    margin: auto;
    margin-top: 10px;
}

.login__loader .path > div {
    background: var(--secondary-dark);
    width: 5px;
    height: 5px;
    border-radius: 2px;
    margin: 0 15px;
    position: absolute;
    top: 0;
    left: 0;
    animation-fill-mode: both;
    animation: dynamic 5s infinite cubic-bezier(0.89, 0.03, 0.06, 1.5);
}

.login__loader .path > div:nth-child(1) {
    left: 20px;
}
.login__loader .path > div:nth-child(2) {
    left: 40px;
}
.login__loader .path > div:nth-child(3) {
    left: 60px;
}
.login__loader .path > div:nth-child(4) {
    left: 80px;
}
.login__loader .path > div:nth-child(5) {
    left: 100px;
}
.login__loader .path > div:nth-child(6) {
    left: 120px;
}
.login__loader .path > div:nth-child(7) {
    left: 140px;
}

@keyframes dynamic {
    0% {
        transform: translateX(-20px);
    }
    25% {
        transform: translateX(-40px);
    }
    50% {
        transform: translateX(-60px);
    }
    75% {
        transform: translateX(-80px);
    }
    100% {
        transform: translateX(-100px);
    }
}
