.accordion {
    width: 80%;
    margin-bottom: 20px;
    padding: 15px 20px;
    position: relative;
    background-color: rgba(var(--gradient-extra), 0.1);

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 8px;
        background: linear-gradient(
            to bottom,
            rgba(var(--primary-dark), 1),
            rgba(var(--primary-light), 1),
            rgba(var(--gradient-extra), 1)
        );
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__question {
        font-size: 1.2rem;
        font-weight: 500;
    }

    &__showButton {
        color: rgba(var(--primary-dark), 0.7) !important;
    }

    &__answerShow {
        overflow: hidden;
        max-height: 500px;
        transition: max-height 5s linear;
    }

    &__answer {
        overflow: hidden;
        max-height: 0;
        transition: max-height 2s linear;
    }
}

@media (max-width: 1000px) {
    .accordion {
        width: 100%;
        box-sizing: border-box;
    }
}
