.registerForm {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.registerForm__input {
    margin-bottom: 20px !important;
}

.registerForm__button {
    margin-top: 15px !important;
    min-height: 40px !important;
}
