.sidebarRight {
    background-color: rgba(var(--primary-light), 0.08);
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
    overflow: hidden;
}

.sidebarRight__loaderWrapper {
    display: grid;
    place-items: center;
    padding-bottom: 30px;
}

.sidebarRight__unreadCount {
    margin-right: 20px;
}

.sidebarRight__unreadCount .MuiBadge-colorPrimary {
    background-color: rgba(var(--gradient-extra), 1);
    color: rgba(var(--secondary-light), 1);
}

.sidebarRight__notificationsWrapper {
    overflow-y: auto;
    height: 95%;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.sidebarRight__notificationsWrapper::-webkit-scrollbar {
    display: none;
}

.sidebarRight__allCaughtUpMessage {
    font-weight: 500;
    font-size: 1rem;
    color: rgba(var(--primary-light), 0.6);
    text-align: center;
    font-family: 'Poppins', sans-serif !important;
}
