.contactForm {
    flex: 1;
}

.contactForm > h3 {
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 20px;
}

.contactForm > p {
    margin-bottom: 40px;
    width: 85%;
}

.contactForm > form {
    display: flex;
    flex-direction: column;
}

.contactForm__form > div {
    display: flex;
}

.contactForm__form > div > input {
    flex: 1;
}

.contactForm__form input[type='email'] {
    margin-left: 25px;
}

.contactForm__form input {
    height: 40px;
}

.contactForm__form > input {
    margin: 25px 0;
}

.contactForm__form input,
.contactForm__form textarea {
    border: none;
    padding: 5px 10px;
    background-color: rgba(var(--gradient-extra), 0.1);
    color: rgba(var(--primary-dark), 1);
    font-size: 1.05rem;
}

.contactForm__form textarea {
    resize: none;
    padding-top: 10px;
}

.contactForm__form input::placeholder,
.contactForm__form textarea::placeholder {
    color: rgba(var(--primary-dark), 0.6);
}

.contactForm__sendButton {
    margin-top: 30px;
    align-self: flex-end;
    color: rgba(var(--secondary-light), 1);
    height: 50px;
    display: flex;
    align-items: center;
    border: none;
    background-color: rgba(var(--primary-light), 1);
    border-radius: 3px;
    padding: 0px 20px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    z-index: 0;
}

.contactForm__sendButton > span {
    margin-right: 8px;
    font-size: 0.95rem;
    text-transform: uppercase;
}

.contactForm__sendIcon {
    font-size: 1.2rem;
}

.contactForm__sendButton:hover {
    border-radius: 30px;
}

@keyframes animate-contact-button {
    0% {
        border-radius: 3px;
    }
    100% {
        border-radius: 30px;
    }
}

.contactForm__sendButton.animate {
    animation: animate-contact-button 0.5s infinite linear;
    animation-direction: alternate;
}

.contactForm__sendButton.animate .contactForm__sendIcon {
    transform: translate(60px);
    transition: all 0.5s ease-in;
}

.contactForm__sendButton.animate span {
    transform: translate(15px);
    transition: all 0.5s ease-in;
}
