.contactForm {
    flex: 1;

    &__heading {
        font-weight: 500;
        font-size: 2rem;
        margin-bottom: 20px;
    }

    &__description {
        margin-bottom: 40px;
        width: 85%;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    &__inputGroup {
        display: flex;

        input {
            flex: 1;
        }

        input[type='email'] {
            margin-left: 25px;
        }
    }

    input {
        min-height: 40px !important;
    }

    &__subjectInput {
        margin: 25px 0;
    }

    input,
    textarea {
        border: none;
        padding: 5px 10px;
        background-color: rgba(var(--gradient-extra), 0.1);
        color: rgba(var(--primary-dark), 1);
        font-size: 1.05rem;
    }

    textarea {
        resize: none;
        padding-top: 10px;
    }

    input::placeholder,
    textarea::placeholder {
        color: rgba(var(--primary-dark), 0.6);
    }

    &__sendButton {
        margin-top: 30px;
        align-self: flex-end;
        color: rgba(var(--secondary-light), 1);
        height: 50px;
        display: flex;
        align-items: center;
        border: none;
        background-color: rgba(var(--primary-light), 1);
        border-radius: 3px;
        padding: 0px 20px;
        cursor: pointer;
        border: 2px solid transparent;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
        z-index: 0;

        span {
            margin-right: 8px;
            font-size: 0.95rem;
            text-transform: uppercase;
        }
    }

    &__sendIcon {
        font-size: 1.2rem;
    }

    &__sendButton:hover {
        border-radius: 30px;
    }

    &__sendButton.animate {
        animation: animate-contact-button 0.5s infinite linear;
        animation-direction: alternate;

        .contactForm__sendIcon {
            transform: translate(60px);
            transition: all 0.5s ease-in;
        }

        span {
            transform: translate(15px);
            transition: all 0.5s ease-in;
        }
    }

    // send button animation
    @keyframes animate-contact-button {
        0% {
            border-radius: 3px;
        }
        100% {
            border-radius: 30px;
        }
    }
}

@media (max-width: 1000px) {
    .contactForm {
        &__heading {
            display: none;
        }

        &__description {
            display: none;
        }

        &__inputGroup {
            flex-direction: column;

            input[type='email'] {
                margin-top: 25px;
                margin-left: 0;
            }
        }
    }
}
