.productDetails {
    &__name {
        font-weight: 600;
        font-size: 1.25rem;
        color: rgba(var(--primary-dark), 0.8);
        font-family: 'Poppins', sans-serif !important;
    }

    &__description {
        color: rgba(var(--primary-light), 0.8);
        font-weight: 400;
        font-size: 0.9rem;
        font-family: 'Poppins', sans-serif !important;
    }

    &__readMoreButton {
        background-color: transparent;
        border: 0;
        padding: 0;
        cursor: pointer;
        font-weight: 500;
        color: rgba(var(--primary-dark), 0.8);
        font-family: 'Poppins', sans-serif !important;
    }

    &__readMoreButton:hover {
        text-decoration: underline;
    }
}
