.sectionHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
}

.sectionHeader h1 {
    font-weight: 500;
    font-size: 3rem;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
}

.sectionHeader p {
    width: 60%;
    text-align: center;
}
