.loginForm {
    width: 100%;
    position: relative;
    z-index: 10;
    overflow: hidden;

    &__main {
        width: 100%;
        height: 100%;
        padding: 40px 50px;
        box-shadow: 5px 5px 8px var(--shadow-primary);
        box-sizing: border-box;
        background: linear-gradient(
            -45deg,
            rgba(var(--primary-dark), 0.9) 15%,
            rgba(var(--primary-light), 0.89) 70%,
            rgba(var(--gradient-extra), 0.448) 94%
        );
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-size: 2rem;
        font-weight: 500;
        font-family: 'Raleway', sans-serif;
        margin-bottom: 20px;
        color: rgba(var(--secondary-light), 1);
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__inputGroup {
        margin-bottom: 20px;
        height: 40px;
        background: linear-gradient(
            150deg,
            rgba(var(--secondary-light), 0.6),
            rgba(var(--primary-light), 0.89),
            rgba(var(--secondary-light), 0.6)
        );
        border: 0;
        display: flex;
        align-items: center;

        label {
            padding: 0 10px;
            color: rgba(var(--primary-dark), 1);
        }
    }

    &__input {
        flex: 1;
        height: 100%;
        background-color: transparent;
        border: 0;
        color: rgba(var(--secondary-light), 1);
        font-weight: 600 !important;
        letter-spacing: 3px !important;
    }

    &__input::placeholder {
        color: rgba(var(--secondary-light), 1);
        font-weight: 500;
        letter-spacing: 1px;
    }

    &__loginButton {
        margin-top: 10px;
        height: 40px;
        border: none;
        color: rgba(var(--secondary-light), 1);
        background: linear-gradient(
            150deg,
            rgba(var(--secondary-light), 0.6),
            rgba(var(--primary-light), 0.89)
        );
        box-shadow: 5px 5px 10px var(--shadow-primary);
        cursor: pointer;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    &__loginButton:hover {
        transform: translateY(2px);
    }

    &__dividerWrapper {
        display: flex;
        margin: 30px 0;
        align-items: center;
        justify-content: space-between;

        span:nth-child(2) {
            width: fit-content;
            margin: 0 5px;
            font-size: 0.9rem;
            color: rgba(var(--secondary-light), 1);
        }

        span.line {
            flex: 1;
            border-top: 2px solid rgba(var(--secondary-light), 1);
        }
    }

    &__registerButton {
        border: 3px solid rgba(var(--secondary-light), 1);
        width: fit-content;
        align-self: center;
        background-color: rgba(var(--primary-dark), 1);
        color: rgba(var(--secondary-light), 1);
        padding: 5px 30px;
        text-transform: uppercase;
        letter-spacing: 1px;
        border-radius: 20px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
    }

    &__registerButton:hover {
        background-color: rgba(var(--secondary-light), 1);
        color: rgba(var(--primary-dark), 1);
        border-color: rgba(var(--primary-dark), 1);
    }
}

@media (max-width: 1000px) {
    .loginForm {
        &__main {
            padding: 30px 40px 20px;
        }

        h1 {
            font-size: 1.5rem;
        }
    }
}
