.loginForm {
    width: 100%;
    box-sizing: border-box;
    padding: 30px 50px;
    background-color: var(--primary-dark);
    position: relative;
    z-index: 10;
}

.loginForm form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.loginForm__input {
    margin-bottom: 20px;
    height: 40px;
    background: linear-gradient(150deg, #f7fbfc80, rgba(143, 110, 213, 0.89));
    border: 0;
}

.loginForm__loginButton {
}
