.burgerMenuButton {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 48px;
    height: 48px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    &:after {
        content: '';
        display: block;
        background-color: rgba(var(--primary-dark), 1);
        width: 100%;
        height: 100%;
        border-radius: 999px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: -1;
        -webkit-transition: all 0.6s ease;
        -o-transition: all 0.6s ease;
        transition: all 0.6s ease;
    }

    .toggle {
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: pointer;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;

        span {
            display: block;
            width: 24px;
            height: 3px;
            margin: 15px auto 0 auto;
            border-radius: 3px;
            background-color: rgba(var(--secondary-light), 1);
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;

            &:not(:first-child) {
                margin: 4px auto 0 auto;
            }
        }

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                -webkit-transform: rotate(315deg);
                -ms-transform: rotate(315deg);
                transform: rotate(315deg);

                span {
                    width: 14px;
                    -webkit-transform: rotate(-45deg) translate(-6px, -3px);
                    -ms-transform: rotate(-45deg) translate(-6px, -3px);
                    transform: rotate(-45deg) translate(-6px, -3px);

                    &:nth-child(2) {
                        width: 24px;
                        -webkit-transform: none;
                        -ms-transform: none;
                        transform: none;
                    }

                    &:last-child {
                        width: 14px;
                        -webkit-transform: rotate(45deg) translate(-6px, 3px);
                        -ms-transform: rotate(45deg) translate(-6px, 3px);
                        transform: rotate(45deg) translate(-6px, 3px);
                    }
                }
            }
        }
    }

    &.active {
        &:after {
            width: 300vw;
            height: 300vh;
            border-radius: 5px;
        }

        .toggle {
            span {
                -webkit-transform: rotate(45deg) translate(5px, 5px);
                -ms-transform: rotate(45deg) translate(5px, 5px);
                transform: rotate(45deg) translate(5px, 5px);

                &:nth-child(2) {
                    -webkit-transform: rotate(-45deg) translate(0px, 0px);
                    -ms-transform: rotate(-45deg) translate(0px, 0px);
                    transform: rotate(-45deg) translate(0px, 0px);
                }

                &:last-child {
                    opacity: 0;
                }
            }

            &:hover {
                -webkit-transform: rotate(0deg) scale(1.1);
                -ms-transform: rotate(0deg) scale(1.1);
                transform: rotate(0deg) scale(1.1);

                span {
                    width: 24px;
                    -webkit-transform: rotate(45deg) translate(5px, 5px);
                    -ms-transform: rotate(45deg) translate(5px, 5px);
                    transform: rotate(45deg) translate(5px, 5px);

                    &:nth-child(2) {
                        -webkit-transform: rotate(-45deg) translate(0px, 0px);
                        -ms-transform: rotate(-45deg) translate(0px, 0px);
                        transform: rotate(-45deg) translate(0px, 0px);
                    }

                    &:last-child {
                        opacity: 0;
                    }
                }
            }
        }
    }
}

nav.hamburgerMenuNav {
    background-color: transparent;
    display: inline-block;
    padding: 20px 30px;
    position: fixed;
    left: 100vw;
    top: 0vh;
    -webkit-transform: translate(-50%, -50%) scale(0);
    -ms-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            margin: 25px 0;
            text-align: center;

            a {
                text-decoration: none;
                color: rgba(var(--secondary-light), 1);
                font-size: 1.5rem;
                font-weight: 600;
                transition: all 0.3s ease-in-out;

                &:hover {
                    border-left: 5px solid rgba(var(--secondary-light), 1);
                    padding-left: 3px;
                }

                &:before {
                    content: inherit;
                    display: block;
                }
            }

            .registerButton {
                display: block;
                font-size: 0.8rem;
                background-color: rgba(var(--secondary-light), 1);
                padding: 10px 40px;
                color: rgba(var(--primary-dark), 1);
                border-radius: 20px;
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: 1px;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
            }

            .registerButton:hover {
                transform: scale(1.05);
            }
        }
    }

    &.active {
        left: 50vw;
        top: 50vh;
        -webkit-transform: translate(-50%, -50%) scale(1);
        -ms-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}
