.hero {
    height: 85vh;
    /* background: linear-gradient(150deg, #b9d7eabe, #769fcdd0, #d6e6f2cc),
        url(../../../assets/images/hero-wall.jpg) no-repeat center; */
    background: linear-gradient(150deg, #b9d7ea, #769fcd, #d6e6f2),
        url(../../../assets/images/hero-wall.jpg) no-repeat center;
    background-size: cover;
    position: relative;
}

.hero__wave {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
}

.hero__wave > img {
    filter: url(#wave-acid);
    width: 100vw;
}

.hero__wave > svg {
    display: none;
}

/* .hero__wave::after {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 0, 0, 1);
} */
