.hero {
    height: 85vh;
    width: 100%;
    background: linear-gradient(
            150deg,
            rgba(var(--gradient-extra), 0.74),
            rgba(var(--primary-light), 0.89) 20%,
            rgba(var(--primary-dark), 0.9) 80%
        ),
        url(../../../assets/images/hero-wall.jpg) no-repeat center;
    background-size: cover;
    color: rgba(var(--secondary-light), 1);
    position: relative;

    &__wave {
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 100%;

        img {
            filter: url(#wave-acid);
            width: 100%;
        }

        svg {
            display: none;
        }
    }

    &__container {
        width: 85vw;
        height: 80vh;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__taglineWrapper {
        flex: 0.6;
        align-self: flex-end;
        margin-bottom: 90px;

        h1 {
            font-size: 4rem;
            font-weight: 400;
            line-height: 5.8rem;
            color: rgba(var(--secondary-light), 1);
        }

        .overLine {
            border-top: 10px solid rgba(var(--secondary-light), 1);
            color: rgba(var(--secondary-light), 1);
        }

        .highlight {
            color: rgba(var(--primary-dark), 1);
        }

        .buttonHighlight {
            background-color: var(--shadow-secondary);
            padding: 0px 5px;
            border-radius: 0;
            font-weight: 600;
            color: rgba(var(--primary-dark), 1);
        }

        a {
            border: none;
            display: inline-block;
            padding: 15px 30px;
            font-size: 0.8rem;
            margin-top: 20px;
            background-color: rgba(var(--primary-dark), 1);
            color: rgba(var(--secondary-light), 1);
            text-transform: uppercase;
            letter-spacing: 1px;
            border-radius: 25px;
            font-weight: 600;
            cursor: pointer;
            box-shadow: 3px 3px 5px var(--shadow-primary);
            transition: all 0.3s ease-in-out;
            z-index: 10;
            position: relative;
        }

        a:hover {
            transform: scale(1.025);
        }
    }

    &__loginFormWrapper {
        flex: 0.3;
        align-self: flex-end;
        margin-bottom: 90px;
    }
}

@media (max-width: 1000px) {
    .hero {
        min-height: 85vh;
        margin-bottom: 80px;

        &__container {
            height: 100%;
            flex-direction: column;
            justify-content: flex-end;
        }

        &__taglineWrapper {
            margin-bottom: 30px;
            margin-top: 50px;
            text-align: center;
            align-self: center;

            h1 {
                text-align: center;
                font-size: 2.5rem;
                line-height: 3.5rem;
            }

            .overLine {
                border-width: 5px;
            }

            a {
                padding: 10px 20px;
                font-size: 0.75rem;
            }
        }

        &__loginFormWrapper {
            align-self: center;
            margin-bottom: -80px;
            width: 90%;
        }
    }
}

// fix for smaller resolutions like iphone 5/SE
@media (max-width: 400px) {
    .hero {
        min-height: 120vh;
    }
}
