.hero {
    height: 85vh;
    width: 100%;
    background: linear-gradient(
            150deg,
            rgba(40, 20, 131, 0.76) 15%,
            rgba(143, 110, 213, 0.89) 70%,
            rgba(215, 130, 217, 0.74) 94%
        ),
        url(../../../assets/images/hero-wall.jpg) no-repeat center;
    background-size: cover;
    color: var(--secondary-light);
    position: relative;
}

.hero__wave {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
}

.hero__wave > img {
    filter: url(#wave-acid);
    width: 100%;
}

.hero__wave > svg {
    display: none;
}

.hero__container {
    width: 85vw;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__taglineWrapper {
    flex: 0.6;
    align-self: flex-end;
    margin-bottom: 90px;
}

.hero__loginFormWrapper {
    flex: 0.3;
    align-self: flex-end;
    margin-bottom: 90px;
}

.hero__taglineWrapper h1 {
    font-size: 4rem;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    line-height: 5.8rem;
}

.hero__taglineWrapper h1 .overLine {
    border-top: 10px solid var(--secondary-light);
}

.hero__taglineWrapper h1 .highlight {
    color: indigo;
}

.hero__taglineWrapper h1 .buttonHighlight {
    background-color: var(--shadow-secondary);
    color: indigo;
    padding: 0px 5px;
    border-radius: 0;
    font-weight: 600;
}

.hero__taglineWrapper > button {
    border: none;
    padding: 15px 30px;
    font-size: 0.8rem;
    margin-top: 20px;
    background-color: indigo;
    color: var(--secondary-light);
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 3px 3px 5px var(--shadow-primary);
    transition: all 0.3s ease-in-out;
    z-index: 10;
    position: relative;
}

.hero__taglineWrapper > button:hover {
    transform: scale(1.025);
}
