.hero {
    height: 85vh;
    width: 100%;
    background: linear-gradient(150deg, #b9d7eae7, #769fcddc, #d6e6f2e5),
        url(../../../assets/images/hero-wall.jpg) no-repeat center;
    background-size: cover;
    color: #f7fbfc;
    position: relative;
}

.hero__wave {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
}

.hero__wave > img {
    filter: url(#wave-acid);
    width: 100vw;
}

.hero__wave > svg {
    display: none;
}

.hero__container {
    width: 85vw;
    height: 80vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__taglineWrapper {
    flex: 0.7;
}

.hero__loginFormWrapper {
    flex: 0.3;
}
