.actionFooter {
    display: flex;
    align-items: center;
    flex: 1;
    position: relative;

    &__myBid {
        flex: 1;
        display: flex;
        align-items: center;

        h3 {
            margin: 0 8px;
            font-weight: 500;
            font-size: 1rem;
        }

        span {
            background-color: rgba(var(--primary-light), 1);
            color: rgba(var(--secondary-light), 1);
            font-weight: 500;
            font-size: 1.1rem;
            padding: 2px 10px;
            border-radius: 10px;
        }
    }
}
