.footer {
    margin-top: 100px;
    height: 80vh;
    background: linear-gradient(
        -30deg,
        rgba(var(--gradient-extra), 0.84),
        rgba(var(--primary-light), 0.89),
        rgba(var(--primary-dark), 0.8)
    );
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.footer__shape {
    flex: 1;
    clip-path: ellipse(101% 90% at 0% 0%);
    background-color: rgba(var(--secondary-light), 1);
}

.footer__contentWrapper {
    flex: 0.7;
    width: 85vw;
    display: flex;
    justify-content: space-between;
    padding: 70px 0;
    align-self: center;
}

.footer__about {
    flex: 0.3;
}

.footer__contact {
    flex: 0.3;
    margin: 0 100px;
}

.footer__developers {
    flex: 0.4;
}

.footer__contentWrapper h3 {
    color: rgba(var(--secondary-light), 1);
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    margin-bottom: 15px;
}

.footer__contentWrapper p {
    color: var(--shadow-secondary);
}
