.dangerConfirmModal {
    display: flex;
    flex-direction: column;
    background-color: rgba(var(--secondary-light), 1);
    padding: 25px;
    border-radius: 15px;
    overflow-x: hidden !important;

    &__title {
        margin-bottom: 15px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 1.1rem;
        text-transform: uppercase;
        color: rgba(var(--primary-dark), 1);
    }

    &__text {
        color: rgba(var(--primary-light), 0.9);
        font-weight: 500;
        font-size: 0.9rem;
        font-family: 'Poppins', sans-serif;
    }

    &__textToEnter {
        font-family: 'Poppins', sans-serif;
        color: rgba(var(--primary-dark), 0.5);
        border-radius: 10px;
        font-weight: 600;
        margin-top: 5px;
        font-size: 1.1rem;
        user-select: none;
    }

    &__input {
        margin: 15px 0;
        height: 1.2rem;
        background-color: rgba(var(--primary-light), 0.08);
        border: 0;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;

        .icon {
            color: rgba(var(--primary-light), 1);
            transition: all 0.5s ease-in;
        }

        input {
            background-color: transparent;
            border: 0;
            flex: 1;
            margin: 0 10px;
            color: rgba(var(--primary-dark), 0.8);
            letter-spacing: 0.5px !important;
            width: 150px;
            font-size: 1rem;
            font-weight: 600;
            transition: all 1s ease;
        }

        input::placeholder {
            color: rgba(var(--primary-dark), 0.5);
            letter-spacing: 1px;
            font-weight: 600;
            font-size: 0.8rem;
        }
    }

    &__buttonsWrapper {
        display: flex;
        align-self: flex-end;

        .buttonComp:nth-child(1) {
            margin-right: 10px;
        }
    }
}
