.productCardProduct {
    background-color: rgba(var(--secondary-light), 1);
    border-radius: 15px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.productCardProduct__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.productCardProduct__nameTime > h2 {
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: -7px;
}

.productCardProduct__nameTime > span {
    font-size: 0.8rem;
    color: rgba(var(--primary-dark), 0.5);
}

.productCardProduct__productDetails .description {
    color: rgba(var(--primary-light), 0.8);
    font-weight: 400;
    font-size: 0.9rem;
}

.productCardProduct__productDetails .readMoreButton {
    background-color: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    font-weight: 500;
    color: rgba(var(--primary-dark), 0.8);
}

.productCardProduct__productDetails .readMoreButton:hover {
    text-decoration: underline;
}

.productCardProduct__bids {
    display: flex;
    align-items: center;
    color: rgba(var(--primary-dark), 0.8);
}

.productCardProduct__bidsCount {
    flex: 1;
    display: flex;
    align-items: center;
}

.productCardProduct__bidsCount > h3 {
    margin: 0 8px;
    font-weight: 500;
    font-size: 1rem;
}

.productCardProduct__bidsCount > span {
    background-color: rgba(var(--primary-light), 1);
    color: rgba(var(--secondary-light), 1);
    font-weight: 500;
    font-size: 1.1rem;
    padding: 2px 10px;
    border-radius: 10px;
}
