.settings {
    background-color: rgba(var(--primary-light), 0.08);
    min-height: 90vh;
    box-sizing: border-box;
    padding-top: 30px;
}

.settings__bodyWrapper {
    padding: 25px;
    background-color: rgba(var(--secondary-light), 1);
    border-radius: 15px;
    box-shadow: var(--box-shadow);
    min-height: 60vh;
}
