.screenHeader {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-left: 10px;
}

.screenHeader h1 {
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    color: rgba(var(--primary-dark), 0.5);
}
