.registerForm {
    .MuiDialog-paper {
        background-color: transparent !important;
        border-radius: 0 !important;
        overflow: hidden !important;
    }

    &__main {
        width: 100%;
        height: 100%;
        background: linear-gradient(
            -45deg,
            rgba(var(--primary-dark), 0.746) 15%,
            rgba(var(--primary-light), 0.9) 70%,
            rgba(var(--gradient-extra), 0.74) 94%
        );
        padding: 30px 50px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 2rem;
        font-weight: 500;
        color: rgba(var(--secondary-light), 1);
    }

    &__closeButton {
        color: rgba(var(--secondary-light), 1) !important;
        align-self: flex-start;
    }

    &__firstWrapper,
    &__secondWrapper,
    &__thirdWrapper,
    &__fourthWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nameWrapper,
    &__phoneWrapper {
        flex: 1;
    }

    &__avatarWrapper {
        margin-left: 50px;
        margin-right: 50px;
        height: 100% !important;
        display: flex;
        justify-content: center;
        background: transparent !important;

        .avatar {
            height: 120px !important;
            width: 120px !important;
            box-sizing: border-box;
            border-color: rgba(var(--gradient-extra), 1);
            border-style: solid;
            border-top-width: 5px;
            border-bottom-width: 5px;
            border-left-width: 2px;
            border-right-width: 2px;
            transform: rotateZ(-40deg);
            background-color: rgba(var(--primary-light), 1);

            img {
                transform: rotateZ(40deg);
                width: 100%;
                height: 100%;
            }
        }
    }

    &__avatarEditButton {
        background-color: rgba(var(--gradient-extra), 1) !important;
        color: rgba(var(--secondary-light), 1) !important;
    }

    &__secondWrapper &__formGroup,
    &__thirdWrapper &__formGroup,
    &__fourthWrapper &__formGroup {
        flex: 1;
    }

    &__secondWrapper &__formGroup:nth-child(2),
    &__thirdWrapper &__formGroup:nth-child(2) {
        margin-left: 30px;
        margin-right: 30px;
    }

    &__fourthWrapper &__formGroup:nth-child(1) {
        margin-right: 30px;
    }

    &__fourthWrapper &__formGroup:nth-child(2) {
        margin-left: 30px;
    }

    &__select .MuiSelect-root {
        width: 280px !important;
    }

    &__formGroup {
        margin-bottom: 30px;
        height: 40px;
        background: linear-gradient(
            150deg,
            rgba(var(--primary-light), 0.49),
            rgba(var(--secondary-light), 0.5) 30% 70%,
            rgba(var(--primary-light), 0.49)
        );
        border: 0;
        display: flex;
        align-items: center;

        label {
            padding: 0 10px;
            color: rgba(var(--secondary-light), 1);
        }

        input {
            flex: 1;
            height: 100%;
            background-color: transparent;
            border: 0;
            color: rgba(var(--secondary-light), 1);
            font-weight: 600 !important;
            letter-spacing: 3px !important;
        }

        input::placeholder {
            color: rgba(var(--secondary-light), 1);
            font-weight: 600;
            letter-spacing: 1px;
        }
    }

    &__formGroup.left {
        background: linear-gradient(
            150deg,
            rgba(var(--primary-light), 0.49),
            rgba(var(--secondary-light), 0.5),
            rgba(var(--primary-light), 0.49)
        );
    }

    &__formGroup.buttonWrapper {
        position: relative;
        background: linear-gradient(
            150deg,
            rgba(var(--primary-dark), 1) 60%,
            var(--shadow-secondary)
        );
        border-radius: 3px;
        overflow: hidden;

        p {
            width: 100%;
            text-align: center;
            font-family: 'Raleway', sans-serif;
            font-weight: 600;
            color: rgba(var(--secondary-light), 1);
            text-transform: uppercase;
        }
    }

    &__registerButton {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            150deg,
            rgba(var(--gradient-extra), 1) 60%,
            var(--shadow-secondary)
        );
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        color: rgba(var(--secondary-light), 1);
        border: none;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        box-shadow: 5px 5px 10px var(--shadow-primary);
    }

    &__registerButton:hover {
        opacity: 0;
    }
}

/* Select input outline */
.MuiOutlinedInput-notchedOutline {
    border: none !important;
}

/* drop down container */
.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
    background-color: transparent;
    border-radius: 0;
    color: rgba(var(--secondary-light), 1);
}

/* drop down box */
.MuiMenu-list {
    background: linear-gradient(
        210deg,
        rgba(var(--secondary-light), 0.796),
        rgba(var(--primary-light), 0.9) 40%
    );
    font-weight: 600;
    color: rgba(var(--secondary-light), 1);
}

/* Selected Menu */
.MuiListItem-root.Mui-selected,
.MuiListItem-root.Mui-selected:hover {
    background-color: rgba(var(--secondary-light), 0.7) !important;
    color: rgba(var(--primary-dark), 1);
}

/* Dropdown Menu Hover */
.MuiListItem-button:hover {
    background-color: var(--shadow-primary) !important;
}

/* small drop down icon */
.MuiSelect-icon {
    color: rgba(var(--secondary-light), 1) !important;
}

/* drop down items */
.MuiSelect-root.MuiSelect-select.MuiSelect-selectMenu.MuiSelect-outlined.MuiInputBase-input.MuiOutlinedInput-input {
    color: rgba(var(--secondary-light), 1);
}

/* Input Active Background */
.MuiSelect-root.MuiSelect-select.MuiSelect-selectMenu.MuiSelect-outlined.MuiInputBase-input.MuiOutlinedInput-input:focus {
    background-color: transparent;
}

@media (max-width: 1000px) {
    .registerForm {
        .MuiDialog-paper {
            overflow-y: auto !important;
        }

        &__main {
            padding: 25px 20px;
        }

        h1 {
            font-size: 1.5rem;
        }

        &__firstWrapper,
        &__secondWrapper,
        &__thirdWrapper,
        &__fourthWrapper {
            flex-direction: column;
        }

        &__avatarWrapper {
            order: -1;
            margin: 30px 0 65px;
        }

        &__secondWrapper &__formGroup:nth-child(2),
        &__thirdWrapper &__formGroup:nth-child(2) {
            margin-left: 0px;
            margin-right: 0px;
        }

        &__fourthWrapper &__formGroup:nth-child(1) {
            margin-right: 0px;
        }

        &__fourthWrapper &__formGroup:nth-child(2) {
            margin-left: 0px;
        }

        &__formGroup {
            height: 40px !important;
            max-height: 40px !important;
            width: 100%;

            input {
                height: 40px !important;
                max-height: 40px !important;
            }
        }

        &__nameWrapper,
        &__phoneWrapper {
            width: 100%;
        }

        &__select .MuiSelect-root {
            min-width: 100% !important;
        }

        &__formGroup.buttonWrapper {
            min-height: 40px !important;
        }
    }
}
