.main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2.5fr 1.075fr;
    grid-template-rows: auto;
    position: relative;

    * {
        font-family: 'Poppins', sans-serif !important;
    }

    a:active,
    a:focus {
        color: inherit;
    }

    &__header {
        grid-column: 1 / -1;
        height: 10vh;
        position: sticky;
        top: 0;
        z-index: 7;
    }

    &__sidebarLeft {
        height: 90vh;
        position: sticky;
        top: 10vh;
    }

    &__screen {
        background-color: rgba(var(--primary-light), 0.08);
    }

    &__sidebarRight {
        height: 90vh;
        position: sticky;
        top: 10vh;
    }
}

@media (max-width: 1000px) {
    .main {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        position: fixed;
        top: 0;

        &__header {
            height: fit-content;
        }

        &__sidebarLeft {
            display: none;
        }

        &__screen {
            padding: 0 15px;
        }
    }
}
