.main * {
    font-family: 'Poppins', sans-serif !important;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.main__header {
    height: 10vh;
    position: sticky;
    top: 0;
}

.main__wrapper {
    display: flex;
}

.main__sidebarLeft {
    flex: 0.25;
    height: 90vh;
    position: sticky;
    top: 10vh;
}

.main__sidebarRight {
    flex: 0.3;
    height: 90vh;
    position: sticky;
    top: 10vh;
}

.main__screen {
    flex: 1;
}
