.main * {
    font-family: 'Poppins', sans-serif !important;
}

.main a:active,
.main a:focus {
    color: inherit;
}

.main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 0.4fr 1fr 0.43fr;
    grid-template-rows: auto;
    position: relative;
}

.main__header {
    grid-column: 1 / 4;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 3;
}

.main__sidebarLeft {
    height: 90vh;
    position: sticky;
    top: 10vh;
}

.main__sidebarRight {
    height: 90vh;
    position: sticky;
    top: 10vh;
}
