.main * {
    font-family: 'Poppins', sans-serif !important;
}

.main a:active,
.main a:focus {
    color: inherit;
}

.main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2.5fr 1.075fr;
    grid-template-rows: auto;
    position: relative;
}

.main__header {
    grid-column: 1 / -1;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 7;
}

.main__sidebarLeft {
    height: 90vh;
    position: sticky;
    top: 10vh;
}

.main__screen {
    background-color: rgba(var(--primary-light), 0.08);
}

.main__sidebarRight {
    height: 90vh;
    position: sticky;
    top: 10vh;
}
