.callToAction {
    margin: 180px 0 100px 0;
    height: 380px;
    background: linear-gradient(
            150deg,
            rgba(var(--gradient-extra), 0.64),
            rgba(var(--primary-light), 0.69),
            rgba(var(--primary-dark), 0.6)
        ),
        url(../../../assets/images/call-to-action-wall.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;

    &__contentWrapper {
        width: 40%;
        height: 80px;
        margin-top: 90px;

        p {
            margin-bottom: 30px;
            text-align: center;
            font-size: 2.5rem;
            letter-spacing: 1.5px;
            font-family: 'Raleway', sans-serif;
            color: rgba(var(--secondary-light), 1);
        }
    }

    &__buttonsWrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;

        button {
            flex: 0.48;
            font-family: 'Raleway', sans-serif;
            font-weight: 600;
            font-size: 1.3rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            cursor: pointer;
            border-radius: 3px;
        }
    }

    &__registerButton {
        background: linear-gradient(
            150deg,
            rgba(var(--secondary-light), 0.4),
            rgba(var(--secondary-light), 0) 30%
        );
        border: none;
        animation: animate-button 2s infinite linear;
        animation-direction: alternate;
        color: rgba(var(--secondary-light), 1);
        transition: all 0.3s ease-in-out;
    }

    &__registerButton:hover {
        box-shadow: 7px 7px 10px var(--shadow-primary);
    }

    &__loginButton {
        background: linear-gradient(
            150deg,
            rgba(var(--secondary-light), 0.4),
            rgba(var(--secondary-light), 0) 30%
        );
        backdrop-filter: blur(7px);
        border: 2px solid rgba(var(--primary-light), 1);
        color: rgba(var(--secondary-light), 0.8);
        transition: all 0.3s ease-in-out;
    }

    &__loginButton:hover {
        background-color: rgba(var(--primary-light), 0.5);
        color: rgba(var(--secondary-light), 1);
    }

    //  register button animation
    @keyframes animate-button {
        0% {
            background-color: rgba(var(--primary-light), 1);
        }
        100% {
            background-color: rgba(var(--gradient-extra), 1);
        }
    }
}

@media (max-width: 1000px) {
    .callToAction {
        margin: 0 !important;
        height: 250px;

        &__contentWrapper {
            width: 90%;
            height: 80px;
            margin-top: 50px;

            p {
                font-size: 2rem;
            }
        }

        &__buttonsWrapper {
            width: 80%;
            height: 60px;
            margin: 0 auto;

            button {
                font-size: 1.2rem;
                font-weight: 500;
            }
        }
    }
}
