.account {
    background-color: rgba(var(--primary-light), 0.08);
    padding-top: 40px;
    min-height: 90vh;
    box-sizing: border-box;
}

.account__card {
    display: flex;
    flex-direction: column;
}

.account__headerWrapper {
    border-radius: 15px;
}

.account__formWrapper {
    padding: 25px;
    background-color: rgba(var(--secondary-light), 1);
    border-radius: 15px;
    margin-top: 25px;
}
