.sidebar {
    height: 100vh;
    position: sticky;
    top: 0;
    padding: 30px 0;
    box-sizing: border-box;
}

.sidebar__logoWrapper {
    display: block;
    margin: 0 50px 80px 30px;
}

.sidebar__logoWrapper .logo {
    background-color: rgba(var(--primary-light), 1);
    border-radius: 8px;
    padding: 20px 15px;
    position: relative;
    z-index: 1;
    box-shadow: -3px 5px 8px var(--shadow-primary);
}

.sidebar__heading {
    font-weight: 600;
    margin-bottom: 30px;
    color: rgba(var(--primary-dark), 1);
    padding-left: 30px;
}

.sidebar__menu {
    display: flex;
    flex-direction: column;
    background-color: rgba(var(--primary-light), 0.04);
}

.sidebar__menu a {
    display: flex;
    align-items: center;
    padding: 15px 10px 15px 30px;
}

/* .sidebar__menu a:hover {
    box-shadow: 0px 2px 15px var(--shadow-primary);
    border-radius: 8px;
} */

.sidebar__menu .icon {
    margin-right: 10px;
    color: rgba(var(--primary-light), 0.4);
}

.sidebar__menu .text {
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 1px;
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    color: rgba(var(--primary-light), 0.4);
    padding-bottom: 2px;
}

.sidebar__menu a.active {
    background-color: rgba(var(--secondary-light), 1);
    box-shadow: 0 3px 20px -14px var(--shadow-primary);
    border-radius: 5px;
}

.sidebar__menu a.active .icon {
    color: rgba(var(--primary-light), 1);
}

.sidebar__menu a.active .text {
    color: rgba(var(--primary-dark), 0.7);
}
