.buttonComp {
    border: 2px solid transparent;
    background-color: rgba(var(--primary-light), 1);
    color: rgba(var(--secondary-light), 1);
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0 10px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 40px;
    box-sizing: border-box;
}

.buttonComp .icon {
    margin-right: 5px;
    margin-top: -4px;
}

/* Primary Button Styles ***********************************************************************/
.buttonComp.primary {
    background-color: rgba(var(--primary-light), 1);
    color: rgba(var(--secondary-light), 1);
    border-color: transparent;
}

.buttonComp.primary:hover {
    background-color: rgba(var(--secondary-light), 1);
    color: rgba(var(--primary-light), 1);
    border-color: rgba(var(--primary-light), 0.7);
}

.buttonComp.primary.disabled {
    background-color: rgba(var(--primary-light), 0.5);
}

.buttonComp.primary.disabled:hover {
    background-color: rgba(var(--primary-light), 0.5);
    color: rgba(var(--secondary-light), 1);
    border-color: transparent;
    cursor: not-allowed;
}

/* Secondary Button Styles *********************************************************************/
.buttonComp.secondary {
    background-color: rgba(var(--secondary-light), 1);
    color: rgba(var(--primary-light), 1);
    border-color: rgba(var(--primary-light), 0.7);
}

.buttonComp.secondary:hover {
    background-color: rgba(var(--primary-light), 1);
    color: rgba(var(--secondary-light), 1);
    border-color: transparent;
}

/* Modify Class Styles ****************************************************************************/
.buttonComp.iconButton {
    margin-left: 5px;
}

.buttonComp.iconButton .icon {
    margin: 0 !important;
}

.insideInputButton {
    margin: 10px;
}
