.searchItem {
    display: flex;
    background-color: rgba(var(--primary-light), 0.08);
    border-radius: 15px;
    padding: 10px;
    padding-left: 0;
    margin-bottom: 10px;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.searchItem__image {
    border-left: 5px solid transparent;
    transition: all 0.2s ease-in;
    padding-left: 10px;
}

.searchItem:hover {
    background-color: rgba(var(--primary-light), 0.12);
}

.searchItem:hover .searchItem__image {
    border-color: rgba(var(--primary-light), 1);
}
.searchItem__image > img {
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 2px;
    min-width: 60px;
    min-height: 60px;
    max-height: 60px;
    max-width: 60px;
    object-fit: cover;
}

.searchItem__detailsWrapper {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.searchItem__detailsWrapper > h3 {
    font-size: 1rem;
    font-weight: 600;
    color: rgba(var(--primary-light), 1);
}

.searchItem__detailsWrapper > p {
    font-size: 0.8rem;
    margin-top: -5px;
    color: rgba(var(--primary-light), 1);
}

.searchItem__priceWrapper {
    margin-left: auto;
    align-self: flex-start;
    display: flex;
    font-size: 1.2rem;
    align-items: center;
}

.searchItem__priceWrapper > p {
    margin-left: 5px;
}
