.header {
    height: 100%;
    background-color: rgba(var(--secondary-light), 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 20px;
    z-index: 10;
    border-bottom: 1px solid rgba(var(--primary-light), 0.15);
}

.header__logoWrapper {
    display: block;
    padding: 10px 20px;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    /* background-color: rgba(var(--primary-light), 1);
    box-shadow: 1px 1px 5px var(--shadow-primary); */
    position: relative;
}

.header__logoIconWrapper {
    position: absolute;
    background-color: rgba(var(--primary-light), 1);
    width: 55px;
    height: 50px;
    top: 1px;
    left: 7.5px;
    z-index: -2;
    border-radius: 10px;
    box-shadow: 1px 1px 5px var(--shadow-primary);
}

.header__logoWrapper .logo__text h1 {
    color: rgba(var(--primary-dark), 1);
    font-weight: 600;
    font-size: 1.4rem;
}

.header__rightWrapper {
    display: flex;
    align-items: center;
    height: 40px;
}

.header__searchWrapper {
    display: flex;
    align-items: center;
    background-color: rgba(var(--primary-light), 0.08);
    height: 100%;
    padding-left: 12px;
    border-radius: 10px;
    color: rgba(var(--primary-light), 0.8);
}

.header__searchWrapper > input {
    background-color: transparent;
    border: 0;
    flex: 1;
    margin: 0 10px;
    color: rgba(var(--primary-dark), 1);
    letter-spacing: 1px;
    width: 150px;
    transition: all 0.5s ease;
}

.header__searchWrapper > input::placeholder {
    color: rgba(var(--primary-light), 0.8);
    font-weight: 600;
    letter-spacing: 1px;
}

.header__searchWrapper > input:focus {
    width: 300px;
}

.header__uploadButton {
    margin: 0 5px 0 20px;
    border: none;
    background-color: rgba(var(--primary-light), 1);
    color: rgba(var(--secondary-light), 1);
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: 10px;
    padding: 0 20px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}

.header__uploadButton > span {
    margin-left: 5px;
}

.header__menuWrapper {
    position: relative;
}

.header__avatar {
    background-color: rgba(var(--primary-light), 0.5);
    border-radius: 10px !important;
    box-sizing: border-box !important;
    padding: 2px;
}

.header__menu {
    display: flex;
    flex-direction: column;
    background-color: rgba(var(--secondary-light), 1);
    padding: 10px 0;
    position: absolute;
    top: 105%;
    left: -70px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px var(--shadow-primary);
    transition: all 0.3s ease-in-out;
    transform: translateX(300px);
}

.header__menu::before {
    content: '';
    position: absolute;
    top: -12%;
    left: 80%;
    height: 14px;
    width: 14px;
    background-color: rgba(var(--secondary-light), 1);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.header__menu.show {
    transform: translateX(0px);
}

.header__menu a {
    color: rgba(var(--primary-dark), 1);
    font-size: 0.9rem;
    cursor: pointer;
    padding: 6px 20px;
}

.header__menu a:hover,
.header__menu button:hover {
    background-color: rgba(var(--primary-light), 0.03);
}

.header__menu button {
    border: none;
    color: rgba(var(--primary-dark), 1);
    font-size: 0.9rem;
    background-color: transparent;
    cursor: pointer;
    padding: 6px 20px;
}

.header__menu .line {
    width: 80%;
    margin: 0 auto;
    border-top: 1px solid rgba(var(--primary-light), 0.15);
}
