.alerts {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10000;
    max-width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.alerts__box {
    margin: 10px 0;
    align-items: center;
    padding: 10px 12px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 3px;
    border: 2px solid;
    box-shadow: 3px 3px 5px var(--shadow-primary);
}

.alerts__box > p {
    font-size: 0.95rem;
    margin-left: 10px;
    letter-spacing: 1px;
}

.alerts__box.success {
    background-color: rgba(var(--secondary-light), 1);
    color: rgba(var(--primary-dark), 1);
    border-color: rgba(var(--primary-light), 1);
}

.alerts__box.error {
    background-color: rgba(var(--primary-light), 1);
    color: rgba(var(--secondary-light), 1);
    border-color: rgba(var(--primary-light), 1);
}

/* Rounded Alerts Styling *****************************************************************/
.alerts__box.rounded {
    margin: 10px 0;
    align-items: center;
    padding: 10px 12px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid;
    box-shadow: none;
}

.alerts__box.rounded > p {
    margin-left: 10px;
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500;
}

.alerts__box.rounded.success {
    background-color: rgba(var(--secondary-light), 1);
    color: rgba(var(--primary-dark), 0.8);
    border-color: rgba(var(--primary-light), 0.8);
}

.alerts__box.rounded.error {
    background-color: rgba(var(--primary-light), 1);
    color: rgba(var(--secondary-light), 1);
    border-color: rgba(var(--primary-light), 1);
}
