.alerts {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10000;
    max-width: 50vw;
}

.alerts__box {
    margin: 15px 0;
    font-size: 1rem;
    align-items: center;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 3px;
    border: 2px solid;
    box-shadow: 7px 7px 10px var(--shadow-primary);
}

.alerts__box > p {
    margin-left: 10px;
    letter-spacing: 1.5px;
}

.alerts__box.success {
    background-color: rgba(var(--secondary-light), 1);
    color: rgba(var(--primary-dark), 1);
    border-color: rgba(var(--primary-light), 1);
}

.alerts__box.error {
    background-color: rgba(var(--primary-light), 1);
    color: rgba(var(--secondary-light), 1);
    border-color: rgba(var(--primary-light), 1);
}
