.alerts {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10000;
    max-width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &__box {
        margin: 10px 0;
        align-items: center;
        padding: 10px 12px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        border-radius: 3px;
        border: 2px solid;
        box-shadow: 3px 3px 5px var(--shadow-primary);

        p {
            font-size: 0.95rem;
            margin-left: 10px;
            letter-spacing: 1px;
        }
    }

    &__box.success {
        background-color: rgba(var(--secondary-light), 1);
        color: rgba(var(--primary-dark), 1);
        border-color: rgba(var(--primary-light), 1);
    }

    &__box.error {
        background-color: rgba(var(--primary-light), 1);
        color: rgba(var(--secondary-light), 1);
        border-color: rgba(var(--primary-light), 1);
    }

    /* Rounded Alerts Styling *****************************************************************/
    &__box.rounded {
        margin: 10px 0;
        align-items: center;
        padding: 10px 12px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        border-radius: 10px;
        border: 2px solid;
        box-shadow: none;

        p {
            margin-left: 10px;
            font-size: 0.9rem;
            letter-spacing: 1px;
            font-family: 'Poppins', sans-serif !important;
            font-weight: 500;
        }
    }

    &__box.rounded.success {
        background-color: rgba(var(--secondary-light), 1);
        color: rgba(var(--primary-dark), 0.8);
        border-color: rgba(var(--primary-light), 0.8);
    }

    &__box.rounded.error {
        background-color: rgba(var(--primary-light), 1);
        color: rgba(var(--secondary-light), 1);
        border-color: rgba(var(--primary-light), 1);
    }
}

@media (max-width: 1000px) {
    .alerts {
        max-width: 100vw;
        bottom: 0px;
        left: 0px;
        right: 0px;
        align-items: center;

        &__box {
            max-width: 90%;
            margin: 10px auto;
        }
    }
}
