.deleteCover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(var(--primary-light), 0.2);
    border-radius: 15px;

    &__centerWrapper {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;

        .buttonComp {
            height: 50px;
        }
    }

    &__message {
        margin-bottom: 10px;
        color: rgba(var(--primary-dark), 1);
        font-size: 1.1rem;
        font-family: 'Poppins', sans-serif !important;
        letter-spacing: 0.5px;
        font-weight: 600;
        width: 100%;
        text-align: center;
        padding: 10px 0;
        background-color: rgba(var(--secondary-light), 0.7);
        border-left: 3px solid rgba(var(--primary-light), 0.2);
        border-right: 3px solid rgba(var(--primary-light), 0.2);
        box-sizing: border-box;
    }
}
