.productCard {
    background-color: rgba(var(--secondary-light), 1);
    margin-bottom: 30px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 1fr 3fr 0.7fr;
    padding: 30px;
    gap: 20px;
    box-shadow: var(--box-shadow);
}

.productCard__header {
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.productCard__productDetails {
    grid-column: 1/-1;
}

.productCard__productDetails .name {
    font-weight: 600;
    font-size: 1.25rem;
    color: rgba(var(--primary-dark), 0.8);
}

.productCard__productDetails .description {
    color: rgba(var(--primary-light), 0.8);
    font-weight: 500;
    font-size: 0.9rem;
}

.productCard__image {
    grid-row: 3/6;
}

.productCard__image img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    cursor: pointer;
    max-height: 400px;
}

.productCard__price {
    display: flex;
    align-items: center;
    border: 1px solid rgba(var(--primary-light), 0.3);
    padding: 15px;
    border-radius: 15px;
}

.productCard__price h3 {
    margin-left: 5px;
    font-weight: 500;
    font-size: 1.3rem;
    color: rgba(var(--primary-dark), 0.8);
}

.productCard__price .price {
    margin-left: auto;
    font-weight: 500;
    font-size: 1.5rem;
    color: rgba(var(--primary-dark), 0.8);
}

.productCard__bids {
    display: flex;
    flex-direction: column;
}

.productCard__noBid {
    border: 1px solid rgba(var(--primary-light), 0.3);
    border-radius: 15px;
    display: grid;
    place-items: center;
    min-height: 100%;
}

.productCard__noBid h3 {
    font-weight: 500;
    font-size: 1rem;
    color: rgba(var(--primary-light), 0.6);
}

.productCard__action {
    display: flex;
    align-items: center;
    flex: 1;
    position: relative;
}

.productCard__myBid {
    flex: 1;
    display: flex;
    align-items: center;
}

.productCard__myBid > h3 {
    margin: 0 8px;
    font-weight: 500;
    font-size: 1rem;
}

.productCard__myBid > span {
    background-color: rgba(var(--primary-light), 1);
    color: rgba(var(--secondary-light), 1);
    font-weight: 500;
    font-size: 1.1rem;
    padding: 2px 10px;
    border-radius: 10px;
}
