.productSingleCard {
    display: flex;
    min-height: 400px;
    background-color: rgba(var(--secondary-light), 1);
    border-radius: 15px;
    box-shadow: var(--box-shadow);
    margin-bottom: 20px;
    flex-wrap: wrap;
    position: relative;
}

.productSingleCard__imageWrapper {
    min-height: 320px;
    max-height: 400px;
    flex: 0.45;
    position: relative;
}

.productSingleCard__imageWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.productSingleCard__totalBidsCount {
    z-index: 2;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(var(--gradient-extra), 1);
    display: grid;
    place-items: center;
    top: 25px;
    right: -32.5px;
    border: 5px solid rgba(var(--secondary-light), 1);
}

.productSingleCard__totalBidsCount h3 {
    color: rgba(var(--secondary-light), 1);
    font-size: 1.4rem;
    font-weight: 500;
}

.productSingleCard__detailsWrapper {
    flex: 0.55;
    padding: 20px 30px 20px 50px;
    display: flex;
    flex-direction: column;
}

.productSingleCard__headerWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    margin-bottom: 25px;
}

.productSingleCard__detailsWrapper .productDetails {
    margin-bottom: 15px;
}

.productSingleCard__statsWrapper {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}

.productSingleCard__statsWrapper .price,
.productSingleCard__statsWrapper .highestBid,
.productSingleCard__statsWrapper .acceptedBids {
    display: flex;
    color: rgba(var(--primary-dark), 0.7);
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productSingleCard__statsWrapper .price > span,
.productSingleCard__statsWrapper .highestBid > span,
.productSingleCard__statsWrapper .acceptedBids > span {
    margin-top: 4px;
    font-size: 1.2rem;
}

.productSingleCard__footerWrapper {
    flex: 100%;
    padding: 15px 30px;
}
