.productSingleCard {
    display: flex;
    min-height: 400px;
    background-color: rgba(var(--secondary-light), 1);
    border-radius: 15px;
    box-shadow: var(--box-shadow);
    margin-bottom: 20px;
    flex-wrap: wrap;
    position: relative;

    &__imageWrapper {
        min-height: 320px;
        max-height: 400px;
        flex: 0.45;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            cursor: pointer;
        }
    }

    &__totalBidsCount {
        z-index: 2;
        position: absolute;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: rgba(var(--gradient-extra), 1);
        display: grid;
        place-items: center;
        top: 25px;
        right: -32.5px;
        border: 5px solid rgba(var(--secondary-light), 1);

        h3 {
            color: rgba(var(--secondary-light), 1);
            font-size: 1.4rem;
            font-weight: 500;
        }
    }

    &__detailsWrapper {
        flex: 0.55;
        padding: 20px 30px 20px 50px;
        display: flex;
        flex-direction: column;

        .productDetails {
            margin-bottom: 15px;
        }
    }

    &__headerWrapper {
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;
        margin-bottom: 25px;
        box-sizing: border-box;
    }

    &__statsWrapper {
        margin-top: auto;
        display: flex;
        justify-content: space-between;
    }

    &__statsWrapper .price,
    &__statsWrapper .highestBid,
    &__statsWrapper .acceptedBids {
        display: flex;
        color: rgba(var(--primary-dark), 0.7);
        font-weight: 600;
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
            margin-top: 4px;
            font-size: 1.2rem;
        }
    }

    &__footerWrapper {
        flex: 100%;
        padding: 15px 30px;
    }
}

@media (max-width: 1000px) {
    .productSingleCard {
        flex-direction: column;

        &__headerWrapper.responsive {
            padding: 15px;
        }

        &__imageWrapper {
            img {
                border-radius: 15px 15px 0 0 !important;
                min-height: 320px;
                max-height: 400px;
            }
        }

        &__detailsWrapper {
            flex: 1;
            padding: 15px;
            margin: 15px 0 25px;
        }

        &__totalBidsCount {
            top: auto;
            bottom: -30px;
            right: 0;
        }
    }
}
