.underlineButtonComp {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Poppins', sans-serif !important;
    color: rgba(var(--primary-light), 0.6);
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.underlineButtonComp:hover {
    color: rgba(var(--primary-dark), 0.8) !important;
}

.underlineButtonComp.active::after {
    content: '';
    width: 80%;
    background-color: rgba(var(--primary-light), 0.8);
    height: 3px;
    border-radius: 3px;
    position: absolute;
    left: 10%;
    top: 85%;
    transition: all 0.3s ease-in-out;
}

.underlineButtonComp.active:hover:after {
    background-color: rgba(var(--primary-dark), 0.8);
}

.underlineButtonComp.active {
    color: rgba(var(--primary-light), 0.8);
}
