.sidebarLeft {
    background-color: rgba(var(--primary-light), 0.08);
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    padding: 30px;
    box-sizing: border-box;
}

/* Account ******************************************************************************** */
.sidebarLeft__account {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: rgba(var(--secondary-light), 1);
    padding: 20px 25px;
    border-radius: 15px;
    column-gap: 5px;
    box-shadow: var(--box-shadow);
}

.sidebarLeft__avatar {
    grid-row: 1/4 !important;
    background-color: rgba(var(--primary-light), 0.5);
    border-radius: 10px !important;
    box-sizing: border-box !important;
    align-self: center;
    height: 50px !important;
    width: 50px !important;
}

.sidebarLeft__name {
    font-weight: 600;
    color: rgba(var(--primary-dark), 1);
}

.sidebarLeft__username {
    font-size: 0.8rem;
    color: rgba(var(--primary-light), 1);
}

/* Menu ********************************************************************* */
.sidebarLeft__menu {
    background-color: rgba(var(--secondary-light), 1);
    padding: 20px 0;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: 'center';
    margin: 30px 0;
    box-shadow: var(--box-shadow);
}

.sidebarLeft__menu > a {
    display: flex;
    padding: 15px 25px;
    align-items: center;
    box-sizing: border-box;
    border-left: 5px solid transparent;
    transition: all 0.3s ease;
}

.sidebarLeft__menu > a:hover {
    background-color: rgba(var(--primary-light), 0.025);
}

.sidebarLeft__menu .line {
    width: 90%;
    border-top: 1px solid rgba(var(--primary-light), 0.15);
    margin: 0 auto;
}

.sidebarLeft__menuIcon {
    margin-right: 15px;
    margin-top: -5px;
    color: rgba(var(--primary-dark), 0.5);
}

.sidebarLeft__menuText {
    align-self: flex-end;
    font-weight: 500;
    color: rgba(var(--primary-dark), 0.6);
}

.sidebarLeft__menuBadge {
    margin-left: auto;
    margin-right: 10px;
}

.sidebarLeft__menuBadge .MuiBadge-colorPrimary {
    background-color: rgba(var(--primary-light), 1);
    color: rgba(var(--secondary-light), 1);
}

.sidebarLeft__menu > a.active {
    border-color: rgba(var(--primary-light), 1);
    color: rgba(var(--primary-light), 1);
    background-color: rgba(var(--primary-light), 0.03);
}

.sidebarLeft__menu a.active .sidebarLeft__menuIcon {
    color: rgba(var(--primary-dark), 0.8);
}

.sidebarLeft__menu a.active .sidebarLeft__menuText {
    color: rgba(var(--primary-dark), 1);
}
