.sidebarLeft {
    background-color: rgba(var(--primary-light), 0.08);
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    padding: 30px;
    box-sizing: border-box;
    width: 100%;

    /* Account ******************************************************************************** */
    &__account {
        display: grid;
        grid-template-columns: 1fr calc(100% - 65px);
        background-color: rgba(var(--secondary-light), 1);
        padding: 20px 25px;
        border-radius: 15px;
        grid-column-gap: 15px;
        grid-row-gap: 0px;
        box-shadow: var(--box-shadow);
        width: 100%;
        box-sizing: border-box;
        cursor: pointer;
    }

    &__avatar {
        grid-row: 1/4 !important;
        background-color: rgba(var(--primary-light), 0.5);
        border-radius: 10px !important;
        box-sizing: border-box !important;
        align-self: center;
        height: 50px !important;
        width: 50px !important;
    }

    &__name {
        font-weight: 600;
        color: rgba(var(--primary-dark), 1);
    }

    &__username {
        font-size: 0.8rem;
        color: rgba(var(--primary-light), 1);
    }

    /* Menu ********************************************************************* */
    &__menu {
        background-color: rgba(var(--secondary-light), 1);
        padding: 20px 0;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: 'center';
        margin: 30px 0;
        box-shadow: var(--box-shadow);

        a {
            display: flex;
            padding: 15px 25px;
            align-items: center;
            box-sizing: border-box;
            border-left: 5px solid transparent;
            transition: all 0.3s ease;
        }

        a:hover {
            background-color: rgba(var(--primary-light), 0.025);
        }

        a.active {
            border-color: rgba(var(--primary-light), 1);
            color: rgba(var(--primary-light), 1);
            background-color: rgba(var(--primary-light), 0.03);

            .sidebarLeft__menuIcon {
                color: rgba(var(--primary-dark), 0.8);
            }

            .sidebarLeft__menuText {
                color: rgba(var(--primary-dark), 1);
            }
        }

        .line {
            width: 90%;
            border-top: 1px solid rgba(var(--primary-light), 0.15);
            margin: 0 auto;
        }
    }

    &__menuIcon {
        margin-right: 15px;
        margin-top: -5px;
        color: rgba(var(--primary-dark), 0.5);
    }

    &__menuText {
        align-self: flex-end;
        font-weight: 500;
        color: rgba(var(--primary-dark), 0.6);
    }

    &__menuBadge {
        margin-left: auto;
        margin-right: 10px;

        .MuiBadge-colorPrimary {
            background-color: rgba(var(--primary-light), 1);
            color: rgba(var(--secondary-light), 1);
        }
    }
}

@media (max-width: 1000px) {
    .sidebarLeft {
        padding: 30px 15px;
    }
}
