.accountForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    padding: 10px;

    &__collegeInfo {
        grid-column: 1/-1;
        text-align: center;
        color: rgba(var(--primary-light), 1);
        margin-bottom: 30px;

        h1 {
            font-size: 1.4rem;
            font-weight: 500;
        }

        h2 {
            font-size: 1.1rem;
            font-weight: 500;
        }
    }

    &__avatar {
        grid-row: 2/4;
        grid-column: 2/3;
        align-self: center;
        justify-self: center;

        .avatar {
            height: 120px !important;
            width: 120px !important;
            box-sizing: border-box;
            border-color: rgba(var(--primary-light), 1);
            border-style: solid;
            border-top-width: 5px;
            border-bottom-width: 5px;
            border-left-width: 2px;
            border-right-width: 2px;
            transform: rotateZ(-40deg);
            background-color: rgba(var(--primary-light), 0.5);

            img {
                transform: rotateZ(40deg);
                width: 100%;
                height: 100%;
            }
        }

        .editButton {
            background-color: rgba(var(--primary-light), 1) !important;
            color: rgba(var(--secondary-light), 1) !important;
            transition: all 0.3s ease;
            opacity: 0;
            visibility: hidden;
        }

        .editButton.active {
            opacity: 1;
            visibility: visible;
        }
    }

    &__input {
        margin: 15px 0;
        height: 1.2rem;
        background-color: rgba(var(--primary-light), 0.08);
        border: 0;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;

        .icon {
            color: rgba(var(--primary-dark), 0.5);
            transition: all 0.5s ease-in;
            margin-top: 5px;
        }

        input {
            background-color: transparent;
            border: 0;
            flex: 1;
            margin: 0 10px;
            color: rgba(var(--primary-dark), 0.5);
            letter-spacing: 1px;
            width: 150px;
            letter-spacing: 2px;
            font-weight: 600;
            transition: all 1s ease-in;
        }

        input::placeholder {
            color: rgba(var(--primary-dark), 0.5);
            letter-spacing: 1px;
            font-weight: 500;
        }
    }

    &__input.active {
        .icon {
            color: rgba(var(--primary-dark), 0.7);
        }

        input {
            color: rgba(var(--primary-dark), 0.8);
        }
    }

    &__buttonWrapper {
        grid-column: 2/3;
        width: fit-content;
        justify-self: end;
        margin-top: 15px;
        display: flex;

        .underlineButtonComp {
            margin-right: 10px;
        }
    }
}

@media (max-width: 1000px) {
    .accountForm {
        grid-template-columns: 1fr;

        &__collegeInfo {
            h1 {
                font-size: 1.1rem;
            }

            h2 {
                font-size: 1rem;
            }
        }

        &__avatar {
            grid-column: auto;
            margin-bottom: 15px;
        }

        &__buttonWrapper {
            grid-column: auto;
        }
    }
}
