.navbar {
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    transition: all 0.3s ease-in-out;

    &__container {
        width: 85vw;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
    }

    &__logoWrapper {
        display: block;
        width: fit-content;
        height: fit-content;
    }

    &__toggleButton {
        display: none;
    }

    &__linksWrapper {
        display: flex;
        align-items: center;

        a {
            text-decoration: none;
            color: rgba(var(--secondary-light), 1);
            margin: 0 15px;
            font-size: 1rem;
            font-weight: 600;
            transition: all 0.3s ease-in-out;
        }

        a:hover {
            border-top: 3px solid rgba(var(--primary-dark), 1);
            padding-top: 2px;
        }

        button {
            font-size: 0.8rem;
            margin-left: 15px;
            background-color: rgba(var(--primary-dark), 1);
            border: none;
            padding: 10px 40px;
            color: rgba(var(--secondary-light), 1);
            border-radius: 20px;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 1px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }

        button:hover {
            transform: scale(1.05);
            box-shadow: 2px 2px 3px var(--shadow-secondary),
                -2px 2px 3px var(--shadow-secondary), 2px -2px 3px var(--shadow-secondary),
                -2px -2px 3px var(--shadow-secondary);
        }
    }

    &.filled {
        background: linear-gradient(
            150deg,
            rgba(var(--gradient-extra), 0.74) 10%,
            rgba(var(--primary-light), 0.89) 20%,
            rgba(var(--primary-dark), 0.8) 70%
        );
        transform: translateY(-10px);

        // inverting sign up button on scroll
        button {
            background-color: rgba(var(--secondary-light), 1);
            color: rgba(var(--primary-dark), 1);
        }

        button:hover {
            box-shadow: none;
        }
    }
}

@media (max-width: 1000px) {
    .navbar {
        &__container {
            box-sizing: border-box;
        }

        &__toggleButton {
            display: block;
            background-color: transparent !important;
            border: none;
        }

        &__linksWrapper {
            display: none;
        }

        &.filled {
            transform: translateY(0px);
            background: none;

            .navbar__logoWrapper {
                opacity: 0;
                transition: opacity 0.3s ease;
            }
        }
    }
}
